body {
  background-color: rgb(255, 208, 196);
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: rgb(153, 182, 196);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}

h1 {
  text-align: center;
  font-family: fish&chips;
  font-size: 50px;
}

.welcome p{
  font-family: times;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}
.main-content {
  background-color: rgb(214, 125, 102);
}

.main-lists{
  display: inline;
}

.stores div{
  width: 19%;
  height: 300px;
  float: left;
  margin: .5%;
  background-color: rgb(153, 182, 196);
}

#inspiration {
  text-align: center;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------------------SALES.HTML--------------------------------------*/

table, tr, th, td {
  border: 2px solid black;
}

fieldset{
  width: 40%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 100px;
}

label, input{
  display: block;
}

#new-store-form{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.cookieSalesTable{
  margin-top: 50px;
}
