* {
  background-color: rgb(61, 77, 65);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

h1 {
  text-align: center;
  font-family: fish&chips;
}

#main-text {
  font-family: times;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

#inspiration {
  text-align: center;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

ul, li, h3 {
  background-color: rgb(26, 42, 30);
  color: white;
}

table, tr, th, td {
  border: 2px solid black;
}

fieldset{
  width: 40%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 100px;
}

label, input{
  display: block;
}

#new-store-form{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.cookieSalesTable{
  margin-top: 50px;
}
